
$url: "url('../../tile_sheet/tilesheet.png')";

@mixin bloc-properties {
    width: 110px;
    height: 110px;
    position: absolute;
}



#hero{
    @include bloc-properties;
    background: $url -40px 792px;
    z-index: 1000;
    bottom : 40px;
    left: 110px;
    bottom: 110px;
}

#fenetre{
    margin: 50px auto;
    position: relative;
    width: 1320px;
    height: 1320px;
}

.sol{
    background: $url -40px 792px;
    @include bloc-properties;
    z-index: 2;
}

.mur{
    background: $url -681px 792px;
    @include bloc-properties;
}
